*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.351), rgba(0, 0, 0, 0.353)), url('images/cover.jpg') no-repeat center / cover;
    color: white;
}


.container{
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .info h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}